{% extends "base.html" %}

{% block title %}Home - {{ app_name }}{% endblock %}

{% block content %}
  <h2>Daftar Produk</h2>

  <ul>
    {% for product in products %}
      <li>
        <h3>{{ product.name }} - Rp{{ product.price }}</h3>
        {% if product.thumbnail %}
          <img src="{{ product.thumbnail }}" alt="{{ product.name }}" width="150">
        {% else %}
          <p><i>Tidak ada gambar</i></p>
        {% endif %}
        <br>
        <a href="{% url 'main:product_detail' product.id %}">Detail</a>
      </li>
    {% empty %}
      <li>Belum ada produk</li>
    {% endfor %}
  </ul>

  <br>
  <a href="{% url 'main:product_add' %}">
    <button>➕ Add Product</button>
  </a>
{% endblock %}
