{% extends 'base.html' %}

{% block content %}
<h2>Detail Produk</h2>
<p>Nama: {{ product.name }}</p>
<p>Harga: Rp{{ product.price }}</p>
<p>Deskripsi: {{ product.description }}</p>

{% if product.thumbnail %}
  <img src="{{ product.thumbnail }}" alt="{{ product.name }}" width="300">
{% else %}
  <p><i>Tidak ada gambar</i></p>
{% endif %}
<a href="{% url 'main:product_confirm_delete' product.pk %}">
    <button type="button" style="background-color:red; color:white;">Hapus Produk</button>
</a>
{% endblock %}
